@import "bourbon/bourbon";
@import "neat/neat";

$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);

select{
	-webkit-border-radius: 0px;
	  background: #fff url(../slices/down.png) no-repeat 99% center;
	  background-size: 9px;
	  border-radius: 0;
	  border: 1px solid #ddd;
}
.mobileForm {
	color: #fff;
	display: none;
	@include media($Mob){
	  	display: block;
	}
	@include media($customBreak){
	  	display: block;
	}
	@include media($Desktop){
	  	display: none;
	}
}
.goToFormMobile {
	@include media($Mob){
  		display: none; 
  	}
  	@include media($Tablet){
  		display: none; 
  	}
}

.head{
	#phone{		
		@include media($Tablet){
		width: 14%;
		float: right;
		margin-left: 67%;
		}
		@include media($Mob){
		width: 30%;
		float: right;
		margin-left: 0px;
		}
	
		p{
			span{
				width: 100%;
    			float: left;
			}
			a{
				color: #303842 !important; 
				text-decoration: none;
				@include media($Tablet){
				  	color: #303842; 
				}
			}
		}
	}
	#SlideInfo
	{
		h1{
			@include media($Mob){
			font-size: 65px;
			line-height: 80px;
			}
		}
	}
}



main{

	@include media($Tablet){
		h2{
			margin: 0px 30px !important;
			font-size: 40px;
		&.Sucess{
			font-size: 42px !important;
			margin: 30px 15px 0px!important;
		 }	
		}
		.hold{
			margin: 0px 30px !important;
			h3{
				font-size: 32px;
			}
		}
	}
	@include media($Mob){
		h2{
		font-size: 32px;	
		margin: 0px 15px !important;

		&:first-child{
			margin-top: 24px;
		}
		&.Sucess{
			font-size: 32px !important;
			margin: 30px 15px 0px !important;
		  }
		}

		h5 {
			margin: 45px 15px 0;
		}
		p {
			margin: 0px 15px;
		}
		ol {
			margin: 0px 15px 50px;
		}
		.hold{
			margin: 0px 15px 20px !important;;
			h3{
				font-size: 28px;
			}
			img{
				margin-bottom:20px;
				margin-right: 8px;
			}
			h2{
				display: inline-block;
				width: 50%;
			}
		}
	}

	@include media($Desktop){
		h2{
			font-size: 42px;
		&.Sucess{
			font-size: 42px !important;
		 }	
		}
		.hold{
			h3{
				font-size: 36px;
			}
		}
	}
}

.tiles {
	margin-top: 0px;

	@include media($Tablet){
    	margin-top: 0px; 
    }
    @include media($Mob){
    	margin-top: 0px; 
    }
    #section .contain{
    	@include media($Mob){
	    	width: 60%;
	        margin: 0px 20%; 
    	}
    	img {
		    @include media($Tablet){
			    margin-top: 80px;
			}
			@include media($Mob){
				margin-top: 65px;
			}
		}
		h2{
			font-size: 80px;
			@include media($Tablet){
			text-align: center;
			font-size: 65px;
			line-height: 80px;
			margin-top: 90px;
			}
			@include media($Mob){
			text-align: center;
			font-size: 34px;
			line-height: 40px;
			margin-top: 70px;
			}
		}
		p{
			@include media($Mob){
			font-size: 15px;
			line-height: 18px;
			}
		}
    }
}
.footerSplash {
	height: 1000px;
	background-position: center bottom;
	@include media($Mob){
		height: 600px;
	}
	@include media($Tablet){
		height: 700px;
	}
	footer{
		.contain{
			@include media($Mob){
		      width: 60%;
		      margin: 0 20%
		 	}
		 	h2{
		 		font-size: 60px;
		 		@include media($Mob){
		 			font-size: 34px;
		 		}
		 		@include media($Tablet){
		 			font-size: 42px;
		 		}
	
		 	}
		 	a.button{
		 		padding: 12px 25px;
		 	}
		}
	}
}
.mobileForm form input[type="submit"] {
	 @include media($Tablet){    
	    height: 40px;
	    border-radius: 0px;
	}
}
header{
	#SlideInfo{
		.VertAlign{
			top: auto !important;
		    left: auto !important;
		    transform:none !important;
		    padding-top: 25px;
		}
	} 
}
#top{
	@include media($Mob){    
		height: 75px;
	}
}

main .hold:first-of-type h3
{
	margin-top: 40px !important;
}


#logo img{
	@include media($Tablet){
		width: 240px;
	}
	@include media($Mob){
		width: 180px;
	}
}

input, select
{
	@include media($Mob){
		font-size: 16px;
	}
}
.keypathMobile
{
	display: none;
}

main{
	@include media($Desktop){
		width: 59%;
		margin-right: 0;
	}
	@include media($StandardDesktop){
		width: 59%;
		margin-right: 0;
	}
}
main .hold h3{	
	@include media($Desktop){
		font-size: 32px;
	}
	@include media($StandardDesktop){
		font-size: 32px;
	}
}

/*main div.hold:nth-child(even) img{
	@include media($Desktop){
		margin: 40px 8px 40px 0px;
	}
}*/
main div.hold img{
	@include media($Mob){
		margin: 40px 8px 40px 5px;
	}
	@include media($Tablet){
		margin: 40px 8px 40px 6px;
	}
	@include media($Desktop){
		margin: 40px 10px 40px 10px;
	}
}
main div.hold:first-of-type img{
	@include media($Desktop){
		margin-top: 0px;
	}
}

main ul {
	margin-bottom: 30px;
}
main ol {
	margin-bottom: 60px;
}
main ol li{
	font-family: "GothamMedium", sans-serif !important;
}
main ul li{
	font-family: "GothamMedium", sans-serif !important;
	line-height: 20px;
}
h2{
	font-family: "MuseoSlab-900", sans-serif;
}
main h2 {
	text-transform: uppercase;
}
main .hold h3{
	font-family: "MuseoSlab-900", sans-serif;
}
.tiles #section .contain{
	width: 85.94039%;
    margin-left: 10%;
}
.tiles #section .contain h2{
	text-align: center;
}
.footerSplash footer .contain{
	width: 82.94039%;
	margin-right: 0px;
	margin-left: 8.5%;
}
.footerSplash footer .contain h2{
	font-family: "MuseoSlab-900", sans-serif;
	margin-bottom: 30px;
	padding-top: 70px;
	text-transform: uppercase;
}
.footerSplash footer .contain h2 span {
	color:#007AB5;
}

.hideme
{
	display: none !important;
}
