html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

select {
  -webkit-border-radius: 0px;
  background: #fff url(../slices/down.png) no-repeat 99% center;
  background-size: 9px;
  border-radius: 0;
  border: 1px solid #ddd; }

.mobileForm {
  color: #fff;
  display: none; }
  @media screen and (max-width: 767px) {
    .mobileForm {
      display: block; } }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block; } }
  @media screen and (min-width: 1000px) {
    .mobileForm {
      display: none; } }

@media screen and (max-width: 767px) {
  .goToFormMobile {
    display: none; } }
@media screen and (max-width: 1000px) {
  .goToFormMobile {
    display: none; } }

@media screen and (max-width: 1000px) {
  .head #phone {
    width: 14%;
    float: right;
    margin-left: 67%; } }
@media screen and (max-width: 767px) {
  .head #phone {
    width: 30%;
    float: right;
    margin-left: 0px; } }
.head #phone p span {
  width: 100%;
  float: left; }
.head #phone p a {
  color: #303842 !important;
  text-decoration: none; }
  @media screen and (max-width: 1000px) {
    .head #phone p a {
      color: #303842; } }
@media screen and (max-width: 767px) {
  .head #SlideInfo h1 {
    font-size: 65px;
    line-height: 80px; } }

@media screen and (max-width: 1000px) {
  main h2 {
    margin: 0px 30px !important;
    font-size: 40px; }
    main h2.Sucess {
      font-size: 42px !important;
      margin: 30px 15px 0px !important; }
  main .hold {
    margin: 0px 30px !important; }
    main .hold h3 {
      font-size: 32px; } }
@media screen and (max-width: 767px) {
  main h2 {
    font-size: 32px;
    margin: 0px 15px !important; }
    main h2:first-child {
      margin-top: 24px; }
    main h2.Sucess {
      font-size: 32px !important;
      margin: 30px 15px 0px !important; }
  main h5 {
    margin: 45px 15px 0; }
  main p {
    margin: 0px 15px; }
  main ol {
    margin: 0px 15px 50px; }
  main .hold {
    margin: 0px 15px 20px !important; }
    main .hold h3 {
      font-size: 28px; }
    main .hold img {
      margin-bottom: 20px;
      margin-right: 8px; }
    main .hold h2 {
      display: inline-block;
      width: 50%; } }
@media screen and (min-width: 1000px) {
  main h2 {
    font-size: 42px; }
    main h2.Sucess {
      font-size: 42px !important; }
  main .hold h3 {
    font-size: 36px; } }

.tiles {
  margin-top: 0px; }
  @media screen and (max-width: 1000px) {
    .tiles {
      margin-top: 0px; } }
  @media screen and (max-width: 767px) {
    .tiles {
      margin-top: 0px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain {
      width: 60%;
      margin: 0px 20%; } }
  @media screen and (max-width: 1000px) {
    .tiles #section .contain img {
      margin-top: 80px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain img {
      margin-top: 65px; } }
  .tiles #section .contain h2 {
    font-size: 80px; }
    @media screen and (max-width: 1000px) {
      .tiles #section .contain h2 {
        text-align: center;
        font-size: 65px;
        line-height: 80px;
        margin-top: 90px; } }
    @media screen and (max-width: 767px) {
      .tiles #section .contain h2 {
        text-align: center;
        font-size: 34px;
        line-height: 40px;
        margin-top: 70px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain p {
      font-size: 15px;
      line-height: 18px; } }

.footerSplash {
  height: 1000px;
  background-position: center bottom; }
  @media screen and (max-width: 767px) {
    .footerSplash {
      height: 600px; } }
  @media screen and (max-width: 1000px) {
    .footerSplash {
      height: 700px; } }
  @media screen and (max-width: 767px) {
    .footerSplash footer .contain {
      width: 60%;
      margin: 0 20%; } }
  .footerSplash footer .contain h2 {
    font-size: 60px; }
    @media screen and (max-width: 767px) {
      .footerSplash footer .contain h2 {
        font-size: 34px; } }
    @media screen and (max-width: 1000px) {
      .footerSplash footer .contain h2 {
        font-size: 42px; } }
  .footerSplash footer .contain a.button {
    padding: 12px 25px; }

@media screen and (max-width: 1000px) {
  .mobileForm form input[type="submit"] {
    height: 40px;
    border-radius: 0px; } }

header #SlideInfo .VertAlign {
  top: auto !important;
  left: auto !important;
  transform: none !important;
  padding-top: 25px; }

@media screen and (max-width: 767px) {
  #top {
    height: 75px; } }

main .hold:first-of-type h3 {
  margin-top: 40px !important; }

@media screen and (max-width: 1000px) {
  #logo img {
    width: 240px; } }
@media screen and (max-width: 767px) {
  #logo img {
    width: 180px; } }

@media screen and (max-width: 767px) {
  input, select {
    font-size: 16px; } }

.keypathMobile {
  display: none; }

@media screen and (min-width: 1000px) {
  main {
    width: 59%;
    margin-right: 0; } }
@media screen and (min-width: 1280px) {
  main {
    width: 59%;
    margin-right: 0; } }

@media screen and (min-width: 1000px) {
  main .hold h3 {
    font-size: 32px; } }
@media screen and (min-width: 1280px) {
  main .hold h3 {
    font-size: 32px; } }

/*main div.hold:nth-child(even) img{
  @include media($Desktop){
    margin: 40px 8px 40px 0px;
  }
}*/
@media screen and (max-width: 767px) {
  main div.hold img {
    margin: 40px 8px 40px 5px; } }
@media screen and (max-width: 1000px) {
  main div.hold img {
    margin: 40px 8px 40px 6px; } }
@media screen and (min-width: 1000px) {
  main div.hold img {
    margin: 40px 10px 40px 10px; } }

@media screen and (min-width: 1000px) {
  main div.hold:first-of-type img {
    margin-top: 0px; } }

main ul {
  margin-bottom: 30px; }

main ol {
  margin-bottom: 60px; }

main ol li {
  font-family: "GothamMedium", sans-serif !important; }

main ul li {
  font-family: "GothamMedium", sans-serif !important;
  line-height: 20px; }

h2 {
  font-family: "MuseoSlab-900", sans-serif; }

main h2 {
  text-transform: uppercase; }

main .hold h3 {
  font-family: "MuseoSlab-900", sans-serif; }

.tiles #section .contain {
  width: 85.94039%;
  margin-left: 10%; }

.tiles #section .contain h2 {
  text-align: center; }

.footerSplash footer .contain {
  width: 82.94039%;
  margin-right: 0px;
  margin-left: 8.5%; }

.footerSplash footer .contain h2 {
  font-family: "MuseoSlab-900", sans-serif;
  margin-bottom: 30px;
  padding-top: 70px;
  text-transform: uppercase; }

.footerSplash footer .contain h2 span {
  color: #007AB5; }

.hideme {
  display: none !important; }

/*# sourceMappingURL=responsive.css.map */
