html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mobileForm {
  color: #fff;
  display: none; }
  @media screen and (max-width: 767px) {
    .mobileForm {
      display: block; } }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block; } }
  @media screen and (min-width: 1000px) {
    .mobileForm {
      display: none; } }

@media screen and (max-width: 767px) {
  .goToFormMobile {
    display: none; } }
@media screen and (max-width: 1000px) {
  .goToFormMobile {
    display: none; } }

header #phone p a {
  color: #fff;
  text-decoration: none; }
  @media screen and (max-width: 1000px) {
    header #phone p a {
      color: #fff;
      text-decoration: none; } }
  @media screen and (max-width: 767px) {
    header #phone p a {
      color: #fff; } }

.tiles {
  margin-top: 0px; }
  @media screen and (max-width: 1000px) {
    .tiles {
      margin-top: 0px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain {
      width: 80%;
      margin: 34px 10% 0; } }
  @media screen and (max-width: 1000px) {
    .tiles #section .contain h2 {
      margin-top: 50px;
      font-size: 50px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain h2 {
      margin-top: 10px;
      font-size: 40px; } }
  @media screen and (max-width: 1000px) {
    .tiles #section .contain h2.orange {
      margin-top: 0px;
      font-size: 50px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain h2.orange {
      margin-top: 0px;
      font-size: 40px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain p {
      margin: 0px;
      padding: 0px;
      width: 100%; } }

@media screen and (max-width: 1000px) {
  main h2 {
    margin: 0px 30px !important; }
  main .hold {
    margin: 0px 30px !important; }
    main .hold img {
      margin-right: 10px; } }
@media screen and (max-width: 767px) {
  main h2 {
    font-size: 58px;
    margin: 0px 15px !important; }
    main h2:first-child {
      margin-top: 24px; }
    main h2.futura {
      font-size: 34px;
      margin: 0px 15px !important; }
  main h5 {
    margin: 45px 15px 0 !important; }
  main p {
    margin: 0px 15px !important; }
  main ol {
    margin: 0px 15px 55px !important; }
  main .hold {
    margin: 0px 15px 20px !important; }
    main .hold img {
      margin-bottom: 20px;
      margin-right: 8px; }
    main .hold h2 {
      display: inline-block;
      width: 50%; }
    main .hold h3 {
      font-size: 30px;
      line-height: 34px; }
    main .hold ul {
      margin: 0px;
      padding: 0px;
      padding-left: 18px; } }
@media screen and (min-width: 1000px) {
  main .hold h3 {
    margin: 5px 0px 10px; } }

.footerSplash {
  background-position: top center; }
  @media screen and (max-width: 1000px) {
    .footerSplash {
      background-position: top center;
      height: 700px;
      background-size: cover; } }
  @media screen and (max-width: 767px) {
    .footerSplash {
      height: 490px; } }
  @media screen and (max-width: 1000px) {
    .footerSplash footer .contain h2 {
      font-size: 50px; } }
  @media screen and (max-width: 767px) {
    .footerSplash footer .contain h2 {
      font-size: 40px; } }

@media screen and (max-width: 767px) {
  header #logo img {
    margin: 8px 0 0 15px;
    width: 270px; } }

@media screen and (max-width: 767px) {
  header #phone {
    margin-top: 40px; } }

header #SlideInfo .VertAlign {
  top: auto !important;
  left: auto !important;
  transform: none !important;
  padding-top: 180px; }
  @media screen and (max-width: 767px) {
    header #SlideInfo .VertAlign h1 {
      font-size: 54px;
      line-height: 66px; } }

@media screen and (max-width: 1000px) {
  .mobileForm form input[type="submit"] {
    height: 40px;
    border-radius: 0px; } }

@media screen and (max-width: 1000px) {
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: 1px solid #ddd;
    background: #fff url(../slices/down.png) no-repeat 99% center;
    border-radius: 0;
    background-size: 9px; } }
@media screen and (min-width: 1000px) {
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: 1px solid #ddd;
    background: #fff url(../slices/down.png) no-repeat 98% center;
    border-radius: 0; } }

@media screen and (max-width: 767px) {
  input, select {
    font-size: 16px; } }

.keypathMobile {
  display: none; }

@media screen and (min-width: 1000px) {
  main {
    width: 59%;
    margin-right: 0; } }
@media screen and (min-width: 1280px) {
  main {
    width: 59%;
    margin-right: 0; } }

@media screen and (min-width: 1000px) {
  main .hold h3 {
    font-size: 33px; } }
@media screen and (min-width: 1280px) {
  main .hold h3 {
    font-size: 40px; } }

main ol li {
  font-family: Georgia, Times New Roman serif !important; }

.hold ul li {
  line-height: 24px; }

/*main div.hold:nth-child(odd) img{
  @include media($Desktop){
    margin: 40px 14px 40px 0px;
  }
}
main div.hold:nth-child(even) img{
  @include media($Desktop){
    margin: 40px 0px 40px 12px;
  }
}*/
@media screen and (min-width: 1000px) {
  main div.hold img {
    margin: 40px 10px 40px 5px; } }

@media screen and (min-width: 1000px) {
  main div.hold:first-of-type img {
    margin-top: 0px; } }

main ul {
  margin-bottom: 30px; }

main ol {
  margin-bottom: 60px; }

@media screen and (min-width: 1000px) {
  main .hold:first-of-type h3 {
    margin-top: 20px; } }

@media screen and (min-width: 1000px) {
  main .hold:first-of-type p {
    margin-bottom: 100px; } }

main > h2.futura {
  color: #000;
  letter-spacing: 0px !important; }
  @media screen and (min-width: 1000px) {
    main > h2.futura {
      font-size: 44px; } }
  @media screen and (max-width: 1000px) {
    main > h2.futura {
      font-size: 44px; } }
  @media screen and (max-width: 767px) {
    main > h2.futura {
      font-size: 34px; } }

main > h2.futura span {
  color: #EE4230; }

main h2.futura:first-of-type {
  margin-top: 35px !important; }

main ol {
  margin-bottom: 60px; }

/*# sourceMappingURL=responsive.css.map */
