@import "bourbon/bourbon";
@import "neat/neat";

$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);

.mobileForm {
	color: #fff;
	display: none;
	@include media($Mob){
	  	display: block;
	}
	@include media($customBreak){
	  	display: block;
	}
	@include media($Desktop){
	  	display: none;
	}
}
.goToFormMobile {
	@include media($Mob){
  		display: none; 
  	}
  	@include media($Tablet){
  		display: none; 
  	}
}
header #phone p a{
	color: #fff; 
	text-decoration: none;
	@include media($Tablet){
	  	color: #fff; 
	  	text-decoration: none;
	}
	@include media($Mob){
	  	color: #fff; 
	}
}
.tiles {
	margin-top: 0px; 
	@include media($Tablet){
    	margin-top: 0px; 
    }
    #section .contain{
    	@include media($Mob){
	    	width: 80%;
	        margin: 34px 10% 0; 
    	}
    	h2{
    		@include media($Tablet){
		    	margin-top: 50px;
		        font-size:50px; 
    		}
    		@include media($Mob){
		    	margin-top: 10px;
		        font-size:40px; 
    		}
    	}
    	h2.orange{
    		@include media($Tablet){
		    	margin-top: 0px;
		        font-size:50px; 
    		}
    		@include media($Mob){
		    	margin-top: 0px;
		        font-size:40px; 
    		}
    	}
    	p{
    		@include media($Mob){
		    	margin:0px;
		    	padding: 0px;
		    	width: 100%;
    		}
    	}
    	
    }
}
main{
	@include media($Tablet){
		h2{
			margin: 0px 30px !important;
		}
		.hold{
			margin: 0px 30px !important;
			img{
				margin-right: 10px;
			}
		}
	}
	@include media($Mob){
		h2{
		font-size: 58px;	
		margin: 0px 15px !important;
		&:first-child{
			margin-top: 24px;
		}
		&.futura{
			font-size: 34px;
			margin: 0px 15px !important;
		  }
		}

		h5 {
			margin: 45px 15px 0 !important;
		}
		p {
			margin: 0px 15px !important;
		}
		ol {
			margin: 0px 15px 55px !important;
		}
		.hold{
			margin: 0px 15px 20px !important;
			
			img{
				margin-bottom:20px;
				margin-right: 8px;
			}
			h2{
				display: inline-block;
				width: 50%;
			}
			h3{
				font-size: 30px;
				line-height: 34px;
			}
			ul
			{
				margin: 0px;
			    padding: 0px;
			    padding-left: 18px;
			}
		}
	}
	@include media($Desktop){

		.hold{
			h3{
				margin: 5px 0px 10px;
			}
		}

	}
	
}
.footerSplash{ 
	background-position: top center;

	@include media($Tablet){
		background-position: top center;
	    height: 700px;
	    background-size: cover;
	}
	@include media($Mob){
	    height: 490px;
	}
	footer{ 
		.contain{ 
			h2{
				@include media($Tablet){
				    font-size: 50px;
				}
				@include media($Mob){
				    font-size: 40px;
				}
			}  
		} 
	} 
}
header #logo img {
	@include media($Mob){
    margin: 8px 0 0 15px;
    width: 270px;
	}
}
header #phone {
	@include media($Mob){
     margin-top: 40px;
	}
}

header{
	#SlideInfo{
		.VertAlign{
			top: auto !important;
		    left: auto !important;
		    transform:none !important;
		    padding-top: 180px;

			h1{
				@include media($Mob){
					font-size: 54px;
					line-height: 66px;
				}
			}    
		}
	} 
} 

.mobileForm form input[type="submit"] {
	 @include media($Tablet){    
	    height: 40px;
	    border-radius: 0px;
	}
}
select {
	@include media($Tablet){ 
		-webkit-appearance: none;
    	-webkit-border-radius: 0px;
	    border: 1px solid #ddd;
	    background: #fff url(../slices/down.png) no-repeat 99% center;
	    border-radius: 0;
	    background-size: 9px;
	}
	@include media($Desktop){ 
		-webkit-appearance: none;
    	-webkit-border-radius: 0px;
	    border: 1px solid #ddd;
	    background: #fff url(../slices/down.png) no-repeat 98% center;
	    border-radius: 0;
	}
}

input, select
{
	@include media($Mob){
		font-size: 16px;
	}
}
.keypathMobile
{
	display: none;
}

main{
	@include media($Desktop){
		width: 59%;
		margin-right: 0;
	}
	@include media($StandardDesktop){
		width: 59%;
		margin-right: 0;
	}
}
main .hold h3{	
	@include media($Desktop){
		font-size: 33px;
	}
	@include media($StandardDesktop){
		font-size: 40px;
	}
}

main ol li
{
	font-family: Georgia, Times New Roman serif !important;
}
.hold ul li {
	line-height: 24px;
}

/*main div.hold:nth-child(odd) img{
	@include media($Desktop){
		margin: 40px 14px 40px 0px;
	}
}
main div.hold:nth-child(even) img{
	@include media($Desktop){
		margin: 40px 0px 40px 12px;
	}
}*/
main div.hold img{
	@include media($Desktop){
		margin: 40px 10px 40px 5px
	}
}
main div.hold:first-of-type img{
	@include media($Desktop){
		margin-top: 0px;
	}
}

main ul {
	margin-bottom: 30px;
}
main ol {
	margin-bottom: 60px;
}

main .hold:first-of-type h3{
	@include media($Desktop){
		margin-top: 20px;
	}
}
main .hold:first-of-type p{
	@include media($Desktop){
		margin-bottom: 100px;
	}
}
main > h2.futura {
    color: #000;
    letter-spacing: 0px !important;
    @include media($Desktop){
		font-size: 44px;
	}
	@include media($Tablet){
		font-size: 44px;
	}
	@include media($Mob){
		font-size: 34px;
	} 
}
main > h2.futura span {
	color: #EE4230
}
main h2.futura:first-of-type
{
	margin-top: 35px !important;
}
main ol {
	margin-bottom: 60px;
}