html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* New (Redesign) Styles Starts */
p {
  font-size: 15px;
  line-height: 25px; }

h1 {
  font-family: "Have Heart One", cursive;
  font-size: 125px;
  font-weight: lighter; }

h2 {
  font-family: "Have Heart One", cursive;
  font-size: 100px;
  font-weight: normal; }

h3 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 50px;
  color: #B90035; }

h4 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: normal; }

h5 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: bold; }

h6 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 24px; }

p {
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia, Times New Roman serif; }

a:hover {
  text-decoration: none; }

.content {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.content::after {
  clear: both;
  content: "";
  display: block; }

.head {
  background-position: top center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat; }
  .head header {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; }
    .head header #logo {
      float: left;
      display: block;
      margin-right: 2%;
      width: 40%; }
      .head header #logo img {
        margin: 15px 0 0 15px;
        width: 110px; }
    .head header #phone {
      float: right;
      display: block;
      margin-left: 2%;
      margin-top: 15px;
      width: 40%;
      font-family: 'Nexa-regular', sans-serif; }
      .head header #phone p {
        color: #fff;
        width: 250px;
        float: right;
        text-align: right;
        font-family: 'Nexa-regular', sans-serif; }
        @media screen and (max-width: 767px) {
          .head header #phone p {
            display: none; } }
        .head header #phone p span {
          color: #fff; }
        .head header #phone p a {
          color: #fff;
          text-decoration: none; }
      .head header #phone a.phone_icon {
        display: none; }
        @media screen and (max-width: 767px) {
          .head header #phone a.phone_icon {
            display: block;
            background: url("../slices/icon_call.png") no-repeat top center;
            width: 55px;
            height: 90px;
            float: right;
            margin: 5px 15px 0 0; } }
    .head header #SlideInfo {
      float: left;
      display: block;
      width: 100%;
      text-align: center;
      margin: auto;
      height: auto !important; }
      .head header #SlideInfo .VertAlign {
        top: auto !important;
        left: auto !important;
        transform: none !important;
        position: relative;
        padding-top: 170px;
        padding-left: 15px;
        padding-right: 15px; }
        @media screen and (max-width: 767px) {
          .head header #SlideInfo .VertAlign {
            padding-top: 35px; } }
        .head header #SlideInfo .VertAlign h1 {
          color: #fff;
          margin: 0px 0px -20px; }
          @media screen and (max-width: 1000px) {
            .head header #SlideInfo .VertAlign h1 {
              font-size: 85px;
              line-height: 100px; } }
          @media screen and (max-width: 767px) {
            .head header #SlideInfo .VertAlign h1 {
              font-size: 72px;
              line-height: 79px;
              line-height: 69px; } }
        .head header #SlideInfo .VertAlign p {
          color: #fff;
          font-size: 18px; }
          @media screen and (max-width: 1000px) {
            .head header #SlideInfo .VertAlign p {
              font-size: 20px;
              padding-top: 20px; } }
          @media screen and (max-width: 767px) {
            .head header #SlideInfo .VertAlign p {
              font-size: 18px;
              padding-top: 24px; } }

.content_upper {
  width: 100%;
  /*position: relative;*/ }
  .content_upper .form_holder {
    float: right;
    width: 380px;
    display: block;
    margin-top: -65px;
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: relative;
    z-index: 999; }
    @media screen and (max-width: 1000px) {
      .content_upper .form_holder {
        width: 100%; } }
    @media screen and (max-width: 767px) {
      .content_upper .form_holder {
        width: 100%; } }
    .content_upper .form_holder #Intro {
      background: #B90035;
      padding: 10px 15px;
      height: 65px;
      box-sizing: border-box;
      cursor: pointer; }
      .content_upper .form_holder #Intro h4 {
        color: #fff;
        font-size: 32px;
        font-weight: bold;
        margin: 0;
        line-height: 42px; }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder #Intro h4 {
            font-size: 42px; } }
      .content_upper .form_holder #Intro p {
        color: #fff;
        margin: 0; }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder #Intro p {
            padding: 10px 15px; } }
        @media screen and (min-width: 1000px) {
          .content_upper .form_holder #Intro p {
            padding-left: 70px;
            padding-right: 70px; } }
        @media screen and (min-width: 1280px) {
          .content_upper .form_holder #Intro p {
            padding-left: 100px;
            padding-right: 100px; } }
    .content_upper .form_holder form {
      padding: 0 15px 15px; }
      .content_upper .form_holder form input {
        padding: 8px;
        width: 100%;
        border: 1px solid #ddd; }
        .content_upper .form_holder form input[type="submit"] {
          background: #B90035;
          color: #fff;
          font-family: "Nexa-Bold", sans-serif; }
          @media screen and (max-width: 767px) {
            .content_upper .form_holder form input[type="submit"] {
              height: 40px;
              border-radius: 0px; } }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder form input {
            font-size: 16px; } }
      .content_upper .form_holder form select {
        padding: 8px;
        width: 100%;
        border: 1px solid #ddd; }
        @media screen and (max-width: 767px) {
          .content_upper .form_holder form select {
            font-size: 16px; } }
  .content_upper .success_holder {
    width: 595px;
    float: left;
    padding-top: 22px; }
    @media screen and (max-width: 1000px) {
      .content_upper .success_holder {
        /*width: 385px;*/
        width: 100%;
        padding: 10px; } }
    @media screen and (max-width: 767px) {
      .content_upper .success_holder {
        width: 100%;
        padding: 10px; } }
    @media screen and (min-width: 1280px) {
      .content_upper .success_holder {
        width: 795px; } }
    .content_upper .success_holder img.headline {
      width: 80%; }
      @media screen and (max-width: 1000px) {
        .content_upper .success_holder img.headline {
          max-width: 380px; } }
    .content_upper .success_holder p {
      padding-right: 100px; }
      @media screen and (max-width: 1000px) {
        .content_upper .success_holder p {
          padding-right: 10px; } }
      @media screen and (max-width: 767px) {
        .content_upper .success_holder p {
          padding: 0; } }

main {
  width: 100%; }
  @media screen and (max-width: 1000px) {
    main {
      padding: 10px; } }
  @media screen and (max-width: 767px) {
    main {
      padding: 10px; } }
  main .avail_holder {
    width: 100%;
    float: left;
    padding-bottom: 30px; }
    main .avail_holder h2.availdegree {
      margin: 0;
      /*margin-top: -90px;*/
      margin-bottom: 10px;
      font-size: 104px;
      line-height: 98px;
      margin-right: 390px; }
      @media screen and (max-width: 1000px) {
        main .avail_holder h2.availdegree {
          font-size: 70px;
          /*margin-top: -75px;*/
          margin-top: 0px;
          line-height: 70px;
          margin-right: 390px; } }
      @media screen and (max-width: 767px) {
        main .avail_holder h2.availdegree {
          margin-top: 0px;
          font-size: 66px;
          line-height: 66px;
          margin-right: 0px; } }
    main .avail_holder p {
      margin: 0 0 40px 0; }
  main .programs_row {
    width: 100%;
    float: left; }
    main .programs_row .hold {
      width: 50%;
      float: left;
      padding-bottom: 20px; }
      @media screen and (max-width: 767px) {
        main .programs_row .hold {
          width: 100%; } }
      main .programs_row .hold:nth-child(1) {
        padding-right: 50px; }
        @media screen and (max-width: 1000px) {
          main .programs_row .hold:nth-child(1) {
            padding-right: 10px; } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold:nth-child(1) {
            padding-right: 0px; } }
      main .programs_row .hold:nth-child(2) {
        padding-left: 50px; }
        @media screen and (max-width: 1000px) {
          main .programs_row .hold:nth-child(2) {
            padding-left: 10px; } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold:nth-child(2) {
            padding-left: 0px; } }
      main .programs_row .hold h3 {
        line-height: 40px;
        font-size: 38px;
        text-transform: uppercase;
        margin: 0px 0px 10px;
        display: inline-block; }
        @media screen and (max-width: 767px) {
          main .programs_row .hold h3 {
            background: url("../slices/icon_plus.png") no-repeat top left;
            padding-left: 50px; } }
        @media screen and (max-width: 767px) {
          main .programs_row .hold h3.open {
            background: url("../slices/icon_minus.png") no-repeat top left; } }
      @media screen and (max-width: 767px) {
        main .programs_row .hold section {
          display: none;
          padding-left: 50px; } }

.additional_programs_holder {
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-top: 35px;
  min-height: 600px; }
  @media screen and (max-width: 767px) {
    .additional_programs_holder {
      background-image: none !important;
      background-color: #000; } }
  .additional_programs_holder .content {
    text-align: center; }
    .additional_programs_holder .content .title {
      width: auto;
      display: inline-block;
      margin: 0 auto; }
      .additional_programs_holder .content .title .additional_text {
        font-family: "Have Heart One", cursive;
        color: #fff;
        font-size: 82px;
        text-align: left;
        float: left;
        clear: both; }
        @media screen and (max-width: 767px) {
          .additional_programs_holder .content .title .additional_text {
            float: none;
            text-align: center; } }
      .additional_programs_holder .content .title h3 {
        text-align: left;
        float: left;
        margin: -38px 0 0 46px;
        text-transform: uppercase;
        font-size: 47px;
        clear: both; }
        @media screen and (max-width: 1000px) {
          .additional_programs_holder .content .title h3 {
            font-size: 40px; } }
        @media screen and (max-width: 767px) {
          .additional_programs_holder .content .title h3 {
            float: none;
            text-align: center;
            margin: -15px 0 0 0;
            font-size: 36px;
            line-height: 41px; } }
    .additional_programs_holder .content .addi_programs {
      width: 100%;
      float: left;
      margin: 20px 0; }
      .additional_programs_holder .content .addi_programs ul {
        width: 100%;
        padding: 0;
        margin: 0px; }
        .additional_programs_holder .content .addi_programs ul li {
          width: 33.3%;
          float: left;
          padding: 0px 20px;
          text-align: center;
          font-family: "Nexa-Bold", sans-serif;
          font-size: 19px;
          color: #fff;
          line-height: 35px;
          list-style: none; }
          @media screen and (max-width: 1000px) {
            .additional_programs_holder .content .addi_programs ul li {
              width: 50%; } }
          @media screen and (max-width: 767px) {
            .additional_programs_holder .content .addi_programs ul li {
              width: 100%;
              padding: 0px 12px; } }
    .additional_programs_holder .content .fillout_text {
      width: 100%;
      text-align: center;
      font-family: "Nexa-Bold", sans-serif;
      font-size: 22px;
      color: #fff;
      float: left;
      padding: 36px 20px 30px; }

.locations_holder {
  background-position: top center;
  background-size: cover;
  position: relative;
  padding-top: 35px;
  min-height: 600px; }
  @media screen and (max-width: 767px) {
    .locations_holder {
      background-image: none !important;
      background-color: #8c8c8c; } }
  .locations_holder .content {
    text-align: center; }
    .locations_holder .content .title {
      width: auto;
      display: inline-block;
      margin: 0 auto; }
      .locations_holder .content .title .location_text {
        font-family: "Have Heart One", cursive;
        color: #000;
        font-size: 82px;
        text-align: left;
        float: left;
        clear: both; }
        @media screen and (max-width: 767px) {
          .locations_holder .content .title .location_text {
            float: none;
            text-align: center; } }
      .locations_holder .content .title h3 {
        text-align: left;
        float: left;
        margin: -15px 0 0 0px;
        text-transform: uppercase;
        font-size: 32px;
        color: #fff;
        text-align: center;
        width: 100%;
        clear: both; }
        @media screen and (max-width: 767px) {
          .locations_holder .content .title h3 {
            float: none;
            text-align: center;
            margin: -14px 0 0 0;
            font-size: 32px;
            line-height: 43px; } }
    .locations_holder .content .locations_list {
      width: 100%;
      float: left;
      margin: 20px 0; }
      .locations_holder .content .locations_list ul {
        width: 100%;
        padding: 0;
        margin: 0px; }
        .locations_holder .content .locations_list ul li {
          width: 25%;
          float: left;
          list-style: none;
          padding: 0px 12px;
          min-height: 105px; }
          @media screen and (max-width: 1000px) {
            .locations_holder .content .locations_list ul li {
              min-height: 125px; } }
          @media screen and (max-width: 767px) {
            .locations_holder .content .locations_list ul li {
              width: 100%;
              min-height: 105px; } }
          .locations_holder .content .locations_list ul li h4 {
            text-align: center;
            font-family: "Nexa-Bold", sans-serif;
            font-size: 19px;
            color: #fff;
            line-height: 35px;
            margin: 0px; }
            @media screen and (max-width: 767px) {
              .locations_holder .content .locations_list ul li h4 {
                font-size: 22px; } }
          .locations_holder .content .locations_list ul li div {
            width: 100%;
            display: block;
            font-family: "Nexa-Regular", sans-serif;
            color: #fff;
            font-size: 14px;
            line-height: 20px; }
    .locations_holder .content .additional_locations {
      width: 100%;
      text-align: center;
      font-family: "Nexa-Bold", sans-serif;
      font-size: 22px;
      color: #fff;
      float: left;
      padding: 0px 20px 30px; }
      .locations_holder .content .additional_locations ul {
        width: 100%;
        padding: 0;
        margin: 0px; }
        .locations_holder .content .additional_locations ul li {
          width: 50%;
          float: left;
          list-style: none;
          padding: 15px 12px; }
          @media screen and (max-width: 767px) {
            .locations_holder .content .additional_locations ul li {
              width: 100%; } }
          .locations_holder .content .additional_locations ul li h4 {
            text-align: center;
            font-family: "Nexa-Black", sans-serif;
            font-size: 30px;
            color: #fff;
            line-height: 32px;
            margin: 0px;
            text-transform: uppercase; }
            @media screen and (max-width: 1000px) {
              .locations_holder .content .additional_locations ul li h4 {
                font-size: 28px; } }
            @media screen and (max-width: 767px) {
              .locations_holder .content .additional_locations ul li h4 {
                font-size: 30px; } }
          .locations_holder .content .additional_locations ul li div {
            width: 100%;
            display: block;
            font-family: "Nexa-Regular", sans-serif;
            color: #fff;
            font-size: 14px;
            line-height: 20px; }

.footerSplash {
  background-position: center center;
  background-size: cover;
  position: relative;
  padding-top: 25px;
  min-height: 700px; }
  @media screen and (max-width: 767px) {
    .footerSplash {
      min-height: 600px;
      padding-top: 5px; } }
  .footerSplash footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .footerSplash footer .title {
      width: auto;
      display: inline-block;
      margin: 25px auto; }
      .footerSplash footer .title .get_text {
        font-family: "Have Heart One", cursive;
        color: #000;
        font-size: 92px;
        text-align: left;
        float: left;
        clear: both;
        z-index: 999;
        position: relative; }
        @media screen and (max-width: 767px) {
          .footerSplash footer .title .get_text {
            font-size: 78px;
            padding-left: 10px; } }
      .footerSplash footer .title h3 {
        text-align: left;
        float: left;
        margin: -50px 0 0 0px;
        text-transform: uppercase;
        font-size: 50px;
        clear: both; }
        @media screen and (max-width: 767px) {
          .footerSplash footer .title h3 {
            font-size: 36px;
            margin: -33px 0 0 0px; } }
      .footerSplash footer .title .button {
        background: #B90035;
        color: #fff;
        padding: 12px 40px;
        font-family: "Nexa-Black", sans-serif;
        font-size: 17px;
        text-align: center;
        text-decoration: none;
        float: left;
        clear: both;
        margin-top: 10px;
        margin-left: 26%; }
        @media screen and (max-width: 767px) {
          .footerSplash footer .title .button {
            margin-left: 19%; } }

@media screen and (max-width: 1000px) {
  .goToFormMobile {
    display: none; } }
@media screen and (max-width: 767px) {
  .goToFormMobile {
    display: none; } }

.locations_holder .content .additional_locations ul li:first-child h4 {
  padding: 0px 40px; }
  @media screen and (max-width: 1000px) {
    .locations_holder .content .additional_locations ul li:first-child h4 {
      padding: 0px 8px; } }
  @media screen and (max-width: 767px) {
    .locations_holder .content .additional_locations ul li:first-child h4 {
      padding: 0px 0px; } }

.success_holder h1,
.success_holder h2,
.success_holder h3 {
  font-size: 104px;
  margin: 0;
  padding: 0;
  line-height: 100px; }
  @media screen and (max-width: 1000px) {
    .success_holder h1,
    .success_holder h2,
    .success_holder h3 {
      font-size: 70px;
      line-height: 70px; } }
  @media screen and (max-width: 767px) {
    .success_holder h1,
    .success_holder h2,
    .success_holder h3 {
      font-size: 66px;
      line-height: 66px; } }

.goToFormMobile p {
  color: #fff;
  line-height: 16px;
  padding: 5px 0 10px;
  margin: 0px; }

/* IE 10 & 11 Hack  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  select {
    background: #fff;
    background-image: none; } }
/* IE 9 Hack only */
@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
  select {
    background: #fff;
    background-image: none; } }
/* Altering Tablet/Ipad for Avail Degree paragraph space issue  */
/*
body.Health.Sciences main .avail_holder h2.availdegree{
  @include media($Tablet){
      margin-top: -235px;
    }
    @include media($Mob){
      margin-top: 0px;
    }
}
body.Health.Sciences main .avail_holder p{
  @include media($Tablet){
      padding-right: 400px;
  }
  @include media($Mob){
      padding-right: 0;
  }
}*/
/* New (Redesign) Styles END */
/* OLD STYLES  */
/*.mobileForm {
  color: #fff;
  display: none;
  @include media($Mob){
      display: block;
  }
  @include media($customBreak){
      display: block;
  }
  @include media($Desktop){
      display: none;
  }
}
header #phone p a{
  color: #fff; 
  text-decoration: none;
  @include media($Tablet){
      color: #fff; 
      text-decoration: none;
  }
  @include media($Mob){
      color: #fff; 
  }
}
.tiles {
  @include media($Desktop){
      margin-top: 0px; 
    }
  @include media($Tablet){
      margin-top: 0px; 
    }
    #section .contain{
      @include media($Mob){
        width: 60%;
          margin: 0px 20%; 
      }
      img {
        @include media($Tablet){
          margin-top: 80px;
      }
      @include media($Mob){
        margin-top: 65px;
      }
    }
    }
}

.mobileForm form input[type="submit"] {
   @include media($Tablet){    
      height: 40px;
      border-radius: 0px;
  }
}
#middle {
  @include media($Mob){
      background-size: 45%, 100%; 
    }
}
.goToFormMobile {
  @include media($Mob){
      display: none; 
    }
    @include media($Tablet){
      display: none; 
    }
}
.footerSplash{
  @include media($Mob){
      height: 580px;
    }
}
.jvFloat .placeHolder.active{
  opacity: 0;
}
.footerSplash footer .contain a.button{
  @include media($Mob){
      padding: 15px 25px !important;
    }
}

header{
  #SlideInfo{
    .VertAlign{
      top: auto !important;
        left: auto !important;
        transform:none !important;
        padding-top: 180px;
    }
  } 
} 

main{
  @include media($Tablet){
    h2{
      margin: 0px 30px !important;
    }
    .hold{
      margin: 0px 30px !important;
      img{
        margin-right: 10px;
      }
    }
  }
  @include media($Mob){
    h2{
    font-size: 56px;  
    margin: 0px 15px !important;
    &:first-child{
      margin-top: 24px;
    }
    &.futura{
      font-size: 52px;
      margin: 0px 15px !important;
      }
    }

    h5 {
      margin: 45px 15px 0 !important;
    }
    p {
      margin: 0px 15px !important;
      overflow-wrap: break-word;
        word-wrap: break-word;


    }
    span{

      &.breakword{
        overflow-wrap: break-word;
          word-wrap: break-word;

         -ms-word-break: break-all;
         word-break: break-all;
         
         -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
      
      p{
        margin: 0px 15px !important;
        word-wrap: break-word;
      }
    }
    ol {
      margin: 0px 15px !important;
    }
    .hold{
      margin: 0px 15px 20px !important;
      
      img{
        margin-bottom:40px;
        margin-right: 8px;
      }
      h2{
        display: inline-block;
        width: 50%;
      }
      h3{
        font-size: 17px;
        line-height: 30px;
      }
      ul
      {
        margin: 0px;
          padding: 0px;
          padding-left: 18px;
      }
    }
  }
  
}
input, select
{
  @include media($Mob){
    font-size: 16px;
  }
}
.keypathMobile
{
  display: none;
}

main{
  @include media($Desktop){
    width: 59%;
    margin-right: 0;
  }
  @include media($StandardDesktop){
    width: 59%;
    margin-right: 0;
  }
}
main .hold h3{  
  @include media($Desktop){
    font-size: 32px;
  }
  @include media($StandardDesktop){
    font-size: 37.5px;
  }
}

main ol li
{
  font-family: Georgia, Times New Roman serif !important;

  b{
    font-family: Georgia, Times New Roman serif !important;
    font-weight: bold;
  }
}
main div.hold img{
  @include media($Desktop){
    margin: 40px 8px;
  }
}

main div.hold:first-of-type img{
  @include media($Desktop){
    margin-top: 0px;
  }
}
main ol {
  margin-bottom: 60px !important;
}
main > h2{
  margin-top: 50px;
}
main > span > p{
  margin-bottom: 50px;
} */
/* iPhone 5 Issue fixes start*/
/*
header #SlideInfo h1{
  @include media($Mob){
    font-size: 65px;
      line-height: 70px;
  }
}
header #logo{
  @include media($Mob){
    float: none;
      margin-right: 0%;
      width: 14.70196%;
      position: absolute;
      top: 0;
      left: 0px;
  }
}
header #phone {
  @include media($Mob){
      float: none;
      margin-right: 0%;
      width: 14.70196%;
      position: absolute;
      top: 0px;
      right: 6px;
  }
}
header #SlideInfo{
  @include media($Mob){
    width: 80%;
    margin-left: 10%;
  }
}
header #SlideInfo p{
  @include media($Mob){
    padding: 5px 10px;
    font-size: 13px;
    line-height: 20px;
  }
}
.mobileForm h4{
  @include media($Mob){
    font-size: 34px;
    text-align: center;
  }
}
.mobileForm #Intro{
  @include media($Mob){
    padding: 10px;
  }
}
header #logo img{
  @include media($Mob){
    width: 60px !important;
  }

}
*/

/*# sourceMappingURL=responsive.css.map */
