@import "bourbon/bourbon";
@import "neat/neat";

$OldMob: new-breakpoint(max-width 359px, 4);
$Mob: new-breakpoint(max-width 767px, 4);
$Tablet: new-breakpoint(max-width 1000px, 12);
$Desktop: new-breakpoint(min-width 1000px, 12);
$StandardDesktop: new-breakpoint(min-width 1280px, 12);
$customBreak : new-breakpoint(max-width 900px, 12);

/* New (Redesign) Styles Starts */
p{
	font-size: 15px;
    line-height: 25px;
}
h1 {
  font-family: "Have Heart One", cursive;
  font-size: 125px;
  font-weight: lighter; }
h2 {
  font-family: "Have Heart One", cursive;
  font-size: 100px;
  font-weight: normal; }
h3 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 50px;
  color: #B90035; }
h4 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: normal; }
h5 {
  font-family: "Nexa-Bold", sans-serif;
  font-weight: bold; }
h6 {
  font-family: "Nexa-Black", sans-serif;
  font-size: 24px; }
p {
  font-size: 15px;
  line-height: 25px;
  font-family: Georgia, Times New Roman serif; 
}
a:hover {
  text-decoration: none; 
}
.content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.content::after {
    clear: both;
    content: "";
    display: block;
}

.head{
	background-position: top center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    header{
    	max-width: 1200px;
	    margin-left: auto;
	    margin-right: auto;

    	#logo{
	    	float: left;
		    display: block;
		    margin-right: 2%;
		    width: 40%;
		    img {
		    	margin: 15px 0 0 15px;
	    		width: 110px;
		    }
	    }
	    #phone{
	    	float: right;
		    display: block;
		    margin-left: 2%;
		    margin-top: 15px;
		    width: 40%;
		    font-family: 'Nexa-regular', sans-serif;
		    p{
		    	color: #fff;
			    width: 250px;
			    float: right;
			    text-align: right;	
			    font-family: 'Nexa-regular', sans-serif;
			    @include media($Mob){
				    display: none;
				}
			    span{
			    	color: #fff;
			    }
			    a{
			    	color: #fff;
			    	text-decoration: none;
			    }
		    }
		    a.phone_icon{
		    	display: none;
		    	@include media($Mob){
				    display: block;
				    background: url('../slices/icon_call.png') no-repeat top center;
				    width: 55px;
				    height: 90px;
				    float: right;
				    margin: 5px 15px 0 0;
				}
		    }
	    }
	    #SlideInfo {
	    	float: left;
		    display: block;
		    width: 100%;
		    text-align: center;
		    margin: auto;
		    height: auto !important;
		    .VertAlign {
		    	top: auto !important;
			    left: auto !important;
			    transform: none !important;
			    position: relative;
			    padding-top: 170px;
			    padding-left: 15px;
			    padding-right: 15px;
			    @include media($Tablet){

				}
				@include media($Mob){
				    padding-top: 35px;
				}
			    h1{
			    	color: #fff;
    				margin: 0px 0px -20px;
    				@include media($Tablet){
						font-size: 85px;
    					line-height: 100px;
					}
					@include media($Mob){
					    font-size: 72px;
    					line-height: 79px;
    					line-height: 69px;
					}
			    }
			    p{
			    	color: #fff;
    				font-size: 18px;
    				@include media($Tablet){
						font-size: 20px;
    					padding-top: 20px;
				    }
				    @include media($Mob){
				    	font-size: 18px;
    					padding-top: 24px;
				    }
			    }
		    }
	    }
    }
}
.content_upper{
	width: 100%;
	
		/*position: relative;*/
		.form_holder{
			float: right;
			width: 380px;
		    display: block;
		    margin-top:-65px;		    
		    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
		    -moz-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
		    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
		    background: #fff;
		    position: relative;
		    z-index: 999;
		    @include media($Tablet){
				width: 100%;
		    }
		    @include media($Mob){
		    	width: 100%;
		    }
		    #Intro{
		    	background: #B90035;
    			padding:10px 15px;
    			height: 65px;
    			box-sizing:border-box;
    			cursor: pointer;
    			h4{
    				color: #fff;
				    font-size: 32px;
				    font-weight: bold;
				    margin: 0;
				    line-height: 42px;
				    @include media($Tablet){
				    	
				    }
				    @include media($Mob){
				    	font-size: 42px;
				    }
    			}
    			p{
				    color: #fff;
				    margin: 0;
				    @include media($Tablet){

				    }
				    @include media($Mob){
				    	padding:10px 15px;
				    }
				    @include media($Desktop){
				    	padding-left:70px;
				    	padding-right: 70px; 
				    }
				    @include media($StandardDesktop){
				    	padding-left:100px;
				    	padding-right: 100px; 
				    }
				}
		    } 
		    form{
		    	padding: 0 15px 15px;
		    	input{
		    		padding: 8px;
				    width: 100%;
				    border: 1px solid #ddd;
				    &[type="submit"]{
				    	background: #B90035;
					    color: #fff;
					    font-family: "Nexa-Bold", sans-serif;
					    @include media($Mob){ 
					    	height: 40px;
    						border-radius: 0px;
					    }
				    }
				    @include media($Mob){ 
					    font-size: 16px;
					}
		    	}
		    	select{
		    		padding: 8px;
				    width: 100%;
				    border: 1px solid #ddd;
				    @include media($Mob){ 
					    font-size: 16px;
					}
		    	}
		    }  	
    	}
    	.success_holder{
    		width:595px;
    		float:left;
    		padding-top: 22px;
    		@include media($Tablet){
    			/*width: 385px;*/
    			width: 100%;
				padding: 10px;
    		}
    		@include media($Mob){
    			width: 100%;
    			padding: 10px;
    		}
    		@include media($StandardDesktop){
    			width:795px;
		    }
		    img.headline{
		    	width: 80%;
    			@include media($Tablet){
	    			max-width: 380px;
	    		}
		    }
		    h1{

		    }
		    p{
		    	padding-right: 100px;
		    	@include media($Tablet){
					padding-right: 10px;
	    		}
	    		@include media($Mob){
	    			padding: 0;
	    		}
		    }
    	}
	
}
main{
	width: 100%;
	@include media($Tablet){
		padding: 10px;
	}
	@include media($Mob){
		padding: 10px;
	}
	.avail_holder{
		width: 100%;
		float: left;
		padding-bottom: 30px;		
		h2.availdegree{
			margin: 0;
			/*margin-top: -90px;*/
			margin-bottom: 10px;
    		font-size: 104px;
    		line-height: 98px;
    		margin-right: 390px;
    		@include media($Tablet){
    			font-size: 70px;
    			/*margin-top: -75px;*/
    			margin-top: 0px;
    			line-height: 70px;
    			margin-right: 390px;
    		}
    		@include media($Mob){
    			margin-top: 0px;
    			font-size: 66px;
    			line-height: 66px;
    			margin-right: 0px;
    		}
		}
		p{
			margin: 0 0 40px 0;
		}
	}
	.programs_row{
		width: 100%;
		float: left;
		.hold{
			width: 50%;
			float: left;
			padding-bottom: 20px;
			@include media($Mob){
				width: 100%;
			}
			&:nth-child(1){
				padding-right: 50px;
				@include media($Tablet){
					padding-right: 10px;
				}
				@include media($Mob){
					padding-right: 0px;
				}
			}
			&:nth-child(2){
				padding-left: 50px;
				@include media($Tablet){
					padding-left: 10px;
				}
				@include media($Mob){
					padding-left: 0px;
				}
			}
			h3{
				line-height: 40px;
				font-size: 38px;
			    text-transform: uppercase;
			    margin: 0px 0px 10px;
			    display: inline-block;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					background: url('../slices/icon_plus.png') no-repeat top left;
					padding-left: 50px;
				}
				&.open{
					@include media($Mob){
						background: url('../slices/icon_minus.png') no-repeat top left;
					}
				}
			}
			section{
				@include media($Tablet){
					
				}
				@include media($Mob){
					display: none;
					padding-left: 50px;
				}

			}

		}

	}	
}
.additional_programs_holder{
	background-position: top center;
    background-size: cover;
    position: relative;
    padding-top:35px;
    min-height: 600px;
    @include media($Tablet){
					
	}
	@include media($Mob){
		background-image: none !important;
		background-color: #000;
	}
    .content{
    	text-align: center;
    	.title{
    		width: auto;
		    display: inline-block;
		    margin: 0 auto;
		    .additional_text{
		    	font-family: "Have Heart One", cursive;
			    color: #fff;
			    font-size: 82px;
			    text-align: left;
			    float: left;
			    clear: both;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					float: none;
					text-align: center;
				}
		    }
		    h3{
		    	text-align: left;
			    float: left;
			    margin: -38px 0 0 46px;
			    text-transform: uppercase;
    			font-size: 47px;
			    clear: both;
			    @include media($Tablet){
					font-size: 40px;
				}
				@include media($Mob){
					float: none;
					text-align: center;
					margin: -15px 0 0 0;
					font-size: 36px;
					line-height: 41px;
				}
		    }
    	}
    	.addi_programs{
    		width: 100%;
    		float: left;
    		margin: 20px 0;
    		ul{
    			width: 100%;
    			padding:0;
    			margin: 0px;
    			li{
    				width: 33.3%;
    				float: left;
    				padding:0px 20px;
    				text-align: center;
    				font-family: "Nexa-Bold", sans-serif;
    				font-size: 19px;
    				color: #fff;
    				line-height: 35px;
    				list-style: none;
    				@include media($Tablet){
						width: 50%;
					}
					@include media($Mob){
						width: 100%;
						padding:0px 12px;
					}
    			}
    		}
    	}
    	.fillout_text{
    		width: 100%;
    		text-align: center;
    		font-family: "Nexa-Bold", sans-serif;
    		font-size: 22px;
    		color: #fff;
    		float: left;
    		padding: 36px 20px 30px;
    	}
    }

}

.locations_holder{
	background-position: top center;
    background-size: cover;
    position: relative;
    padding-top:35px;
    min-height: 600px;
    @include media($Tablet){
					
	}
	@include media($Mob){
		background-image: none !important;
		background-color: #8c8c8c;
	}
    .content{
    	text-align: center;
    	.title{
    		width: auto;
		    display: inline-block;
		    margin: 0 auto;
		    .location_text{
		    	font-family: "Have Heart One", cursive;
			    color: #000;
			    font-size: 82px;
			    text-align: left;
			    float: left;
			    clear: both;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					float: none;
					text-align: center;
				}
		    }
		    h3{
		    	text-align: left;
			    float: left;
			    margin: -15px 0 0 0px;
			    text-transform: uppercase;
    			font-size: 32px;
    			color: #fff;
    			text-align: center;
    			width: 100%;
			    clear: both;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					float: none;
					text-align: center;
					margin: -14px 0 0 0;
					font-size: 32px;
					line-height: 43px;
				}
		    }
    	}
    	.locations_list{
    		width: 100%;
    		float: left;
    		margin: 20px 0;
    		ul{
    			width: 100%;
    			padding:0;
    			margin: 0px;
    			li{
    				width: 25%;
    				float: left;
    				list-style: none;
    				padding:0px 12px;
    				min-height: 105px;
    				@include media($Tablet){
						min-height: 125px;
					}
					@include media($Mob){
						width: 100%;
						min-height: 105px;
					}
    				h4{
    					text-align: center;
	    				font-family: "Nexa-Bold", sans-serif;
	    				font-size: 19px;
	    				color: #fff;
	    				line-height: 35px;
	    				margin: 0px;
	    				@include media($Mob){
							font-size: 22px;
						}
    				}
    				div{
    					width: 100%;
    					display: block;
    					font-family: "Nexa-Regular", sans-serif;
    					color: #fff;
    					font-size: 14px;
    					line-height: 20px;
    				}
    				
    				@include media($Tablet){
					
					}
					@include media($Mob){
						
					}
    			}
    		}
    	}
    	.additional_locations{
    		width: 100%;
    		text-align: center;
    		font-family: "Nexa-Bold", sans-serif;
    		font-size: 22px;
    		color: #fff;
    		float: left;
    		padding: 0px 20px 30px;
    		ul{
    			width: 100%;
    			padding:0;
    			margin: 0px;
    			li{
    				width: 50%;
    				float: left;
    				list-style: none;
    				padding:15px 12px;
    				@include media($Tablet){
					
					}
					@include media($Mob){
						width: 100%;
					}
    				h4{
    					text-align: center;
	    				font-family: "Nexa-Black", sans-serif;
	    				font-size: 30px;
	    				color: #fff;
	    				line-height: 32px;
	    				margin: 0px;
	    				text-transform: uppercase;
	    				@include media($Tablet){
							font-size: 28px;
						}
						@include media($Mob){
							font-size: 30px;
						}
    				}
    				div{
    					width: 100%;
    					display: block;
    					font-family: "Nexa-Regular", sans-serif;
    					color: #fff;
    					font-size: 14px;
    					line-height: 20px;
    				}    				
    				@include media($Tablet){
					
					}
					@include media($Mob){
						
					}
    			}
    		}
    	}
    }

}

.footerSplash{
	background-position: center center;
    background-size: cover;
    position: relative;
    padding-top:25px;
    min-height: 700px;
	@include media($Mob){
  		min-height: 600px;
  		padding-top:5px;
  	}
  	footer{
  		max-width: 1200px;
	    margin-left: auto;
	    margin-right: auto;
	    text-align: center;
	    .title{
    		width: auto;
		    display: inline-block;
		    margin: 25px auto;
		    .get_text{
		    	font-family: "Have Heart One", cursive;
			    color: #000;
			    font-size: 92px;
			    text-align: left;
			    float: left;
			    clear: both;
			    z-index: 999;
    			position: relative;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					font-size: 78px;
					padding-left: 10px;
				}
		    }
		    h3{
		    	text-align: left;
			    float: left;
			    margin: -50px 0 0 0px;
			    text-transform: uppercase;
    			font-size: 50px;
			    clear: both;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					font-size: 36px;
					margin: -33px 0 0 0px;
				}
		    }
		    .button{
		    	background: #B90035;
				color: #fff;
				padding: 12px 40px;
				font-family: "Nexa-Black", sans-serif;
				font-size: 17px;
				text-align: center;
				text-decoration: none;
				float: left;
			    clear: both;
			    margin-top: 10px;
			    margin-left: 26%;
			    @include media($Tablet){
					
				}
				@include media($Mob){
					margin-left: 19%;
				}
		    }
    	}
  	}
}

.goToFormMobile {
	@include media($Tablet){
  		display: none; 
  	}
  	@include media($Mob){
  		display: none; 
  	}
}
.locations_holder .content .additional_locations ul li:first-child h4{
    padding: 0px 40px;
	@include media($Tablet){
		padding: 0px 8px;					
	}
	@include media($Mob){
		padding: 0px 0px;
	}
}
.success_holder h1,
.success_holder h2,
.success_holder h3
{
	font-size: 104px;
	margin:0;
	padding: 0;
	line-height: 100px;
	@include media($Tablet){
		font-size: 70px;
		line-height: 70px;				
	}
	@include media($Mob){
		font-size: 66px;
    	line-height: 66px;
	}
}
.content_upper .content .form_holder form.keypath{
	@include media($Desktop){
					
	}
}
.form_holder form.keypath{
	@include media($Desktop){
					
	}
}
.goToFormMobile p{
	color: #fff;
    line-height: 16px;
    padding: 5px 0 10px;
    margin: 0px;
}


/* IE 10 & 11 Hack  */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    select
    {
    background: #fff;
    background-image: none;
    }
}
/* IE 9 Hack only */
@media all and (min-width:0\0) and (min-resolution:.001dpcm)
{
	select
    {
    background: #fff;
    background-image: none;
    }
}


/* Altering Tablet/Ipad for Avail Degree paragraph space issue  */
/*
body.Health.Sciences main .avail_holder h2.availdegree{
	@include media($Tablet){
  		margin-top: -235px;
  	}
  	@include media($Mob){
  		margin-top: 0px;
  	}
}
body.Health.Sciences main .avail_holder p{
	@include media($Tablet){
	  	padding-right: 400px;
	}
	@include media($Mob){
	  	padding-right: 0;
	}
}*/












/* New (Redesign) Styles END */






/* OLD STYLES  */ 
/*.mobileForm {
	color: #fff;
	display: none;
	@include media($Mob){
	  	display: block;
	}
	@include media($customBreak){
	  	display: block;
	}
	@include media($Desktop){
	  	display: none;
	}
}
header #phone p a{
	color: #fff; 
	text-decoration: none;
	@include media($Tablet){
	  	color: #fff; 
	  	text-decoration: none;
	}
	@include media($Mob){
	  	color: #fff; 
	}
}
.tiles {
	@include media($Desktop){
    	margin-top: 0px; 
    }
	@include media($Tablet){
    	margin-top: 0px; 
    }
    #section .contain{
    	@include media($Mob){
	    	width: 60%;
	        margin: 0px 20%; 
    	}
    	img {
		    @include media($Tablet){
			    margin-top: 80px;
			}
			@include media($Mob){
				margin-top: 65px;
			}
		}
    }
}

.mobileForm form input[type="submit"] {
	 @include media($Tablet){    
	    height: 40px;
	    border-radius: 0px;
	}
}
#middle {
	@include media($Mob){
  		background-size: 45%, 100%; 
  	}
}
.goToFormMobile {
	@include media($Mob){
  		display: none; 
  	}
  	@include media($Tablet){
  		display: none; 
  	}
}
.footerSplash{
	@include media($Mob){
  		height: 580px;
  	}
}
.jvFloat .placeHolder.active{
	opacity: 0;
}
.footerSplash footer .contain a.button{
	@include media($Mob){
  		padding: 15px 25px !important;
  	}
}

header{
	#SlideInfo{
		.VertAlign{
			top: auto !important;
		    left: auto !important;
		    transform:none !important;
		    padding-top: 180px;
		}
	} 
} 

main{
	@include media($Tablet){
		h2{
			margin: 0px 30px !important;
		}
		.hold{
			margin: 0px 30px !important;
			img{
				margin-right: 10px;
			}
		}
	}
	@include media($Mob){
		h2{
		font-size: 56px;	
		margin: 0px 15px !important;
		&:first-child{
			margin-top: 24px;
		}
		&.futura{
			font-size: 52px;
			margin: 0px 15px !important;
		  }
		}

		h5 {
			margin: 45px 15px 0 !important;
		}
		p {
			margin: 0px 15px !important;
			overflow-wrap: break-word;
		    word-wrap: break-word;


		}
		span{

			&.breakword{
				overflow-wrap: break-word;
			    word-wrap: break-word;

			   -ms-word-break: break-all;
			   word-break: break-all;
			   
			   -ms-hyphens: auto;
			  -moz-hyphens: auto;
			  -webkit-hyphens: auto;
			  hyphens: auto;
			}
			
			p{
				margin: 0px 15px !important;
				word-wrap: break-word;
			}
		}
		ol {
			margin: 0px 15px !important;
		}
		.hold{
			margin: 0px 15px 20px !important;
			
			img{
				margin-bottom:40px;
				margin-right: 8px;
			}
			h2{
				display: inline-block;
				width: 50%;
			}
			h3{
				font-size: 17px;
				line-height: 30px;
			}
			ul
			{
				margin: 0px;
			    padding: 0px;
			    padding-left: 18px;
			}
		}
	}
	
}
input, select
{
	@include media($Mob){
		font-size: 16px;
	}
}
.keypathMobile
{
	display: none;
}

main{
	@include media($Desktop){
		width: 59%;
		margin-right: 0;
	}
	@include media($StandardDesktop){
		width: 59%;
		margin-right: 0;
	}
}
main .hold h3{	
	@include media($Desktop){
		font-size: 32px;
	}
	@include media($StandardDesktop){
		font-size: 37.5px;
	}
}

main ol li
{
	font-family: Georgia, Times New Roman serif !important;

	b{
		font-family: Georgia, Times New Roman serif !important;
		font-weight: bold;
	}
}
main div.hold img{
	@include media($Desktop){
		margin: 40px 8px;
	}
}

main div.hold:first-of-type img{
	@include media($Desktop){
		margin-top: 0px;
	}
}
main ol {
	margin-bottom: 60px !important;
}
main > h2{
	margin-top: 50px;
}
main > span > p{
	margin-bottom: 50px;
} */

/* iPhone 5 Issue fixes start*/
/*
header #SlideInfo h1{
	@include media($Mob){
		font-size: 65px;
	    line-height: 70px;
	}
}
header #logo{
	@include media($Mob){
		float: none;
	    margin-right: 0%;
	    width: 14.70196%;
	    position: absolute;
	    top: 0;
	    left: 0px;
	}
}
header #phone {
	@include media($Mob){
	    float: none;
	    margin-right: 0%;
	    width: 14.70196%;
	    position: absolute;
	    top: 0px;
	    right: 6px;
	}
}
header #SlideInfo{
	@include media($Mob){
		width: 80%;
		margin-left: 10%;
	}
}
header #SlideInfo p{
	@include media($Mob){
		padding: 5px 10px;
		font-size: 13px;
		line-height: 20px;
	}
}
.mobileForm h4{
	@include media($Mob){
		font-size: 34px;
		text-align: center;
	}
}
.mobileForm #Intro{
	@include media($Mob){
		padding: 10px;
	}
}
header #logo img{
	@include media($Mob){
		width: 60px !important;
	}

}
*/
