html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mobileForm {
  color: #fff;
  display: none; }
  @media screen and (max-width: 767px) {
    .mobileForm {
      display: block; } }
  @media screen and (max-width: 900px) {
    .mobileForm {
      display: block; } }
  @media screen and (min-width: 1000px) {
    .mobileForm {
      display: none; } }

@media screen and (max-width: 767px) {
  .goToFormMobile {
    display: none; } }
@media screen and (max-width: 1000px) {
  .goToFormMobile {
    display: none; } }

header #phone p a {
  color: #fff;
  text-decoration: none; }
  @media screen and (max-width: 1000px) {
    header #phone p a {
      color: #fff;
      text-decoration: none; } }
  @media screen and (max-width: 767px) {
    header #phone p a {
      color: #fff;
      font-size: 13px;
      padding-top: 4px; } }

@media screen and (min-width: 1000px) {
  header #logo img {
    width: 140px; } }
@media screen and (max-width: 1000px) {
  header #logo img {
    width: 140px; } }
@media screen and (max-width: 767px) {
  header #logo img {
    width: 95px;
    margin: 15px 0 0 7px; } }

@media screen and (min-width: 1000px) {
  .VertAlign h1 {
    font-size: 75px; } }
@media screen and (max-width: 1000px) {
  .VertAlign h1 {
    font-size: 75px; } }
@media screen and (max-width: 767px) {
  .VertAlign h1 {
    font-size: 54px; } }

.tiles {
  margin-top: 0px; }
  @media screen and (max-width: 1000px) {
    .tiles {
      margin-top: 0px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain {
      width: 80%;
      margin: 20px 10% 0; } }
  @media screen and (max-width: 1000px) {
    .tiles #section .contain h2 {
      margin-top: 50px;
      font-size: 50px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain h2 {
      margin-top: 10px;
      font-size: 40px; } }
  @media screen and (max-width: 1000px) {
    .tiles #section .contain h2.orange {
      margin-top: 0px;
      font-size: 50px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain h2.orange {
      margin-top: 0px;
      font-size: 40px; } }
  @media screen and (max-width: 767px) {
    .tiles #section .contain p {
      margin: 0px;
      padding: 0px;
      width: 100%; } }

@media screen and (max-width: 1000px) {
  main h2 {
    margin: 0px 30px !important; }
  main .hold {
    margin: 0px 30px !important; }
    main .hold img {
      margin-right: 10px; } }
@media screen and (max-width: 767px) {
  main h2 {
    font-size: 58px;
    margin: 0px 15px !important; }
    main h2:first-child {
      margin-top: 24px; }
    main h2.futura {
      font-size: 52px;
      margin: 0px 15px !important; }
  main h5 {
    margin: 45px 15px 0 !important; }
  main p {
    margin: 0px 15px !important; }
  main ol {
    margin: 0px 15px !important; }
  main .hold {
    margin: 0px 15px 20px !important; }
    main .hold img {
      margin-bottom: 40px;
      margin-right: 8px; }
    main .hold h2 {
      display: inline-block;
      width: 50%; }
    main .hold h3 {
      font-size: 30px;
      line-height: 34px; }
    main .hold ul {
      margin: 0px;
      padding: 0px;
      padding-left: 18px; } }

.footerSplash {
  height: 1000px; }
  @media screen and (max-width: 1000px) {
    .footerSplash {
      background-position: top center;
      height: 700px; } }
  @media screen and (max-width: 767px) {
    .footerSplash {
      background-position: top center;
      height: 490px;
      background-size: cover; } }
  @media screen and (max-width: 1000px) {
    .footerSplash footer .contain h2 {
      font-size: 50px; } }
  @media screen and (max-width: 767px) {
    .footerSplash footer .contain h2 {
      font-size: 42px; } }

header #SlideInfo .VertAlign {
  top: auto !important;
  left: auto !important;
  transform: none !important;
  padding-top: 180px; }
  @media screen and (max-width: 1000px) {
    header #SlideInfo .VertAlign h1 {
      font-size: 70px;
      line-height: 80px; } }
  @media screen and (max-width: 767px) {
    header #SlideInfo .VertAlign h1 {
      font-size: 50px;
      line-height: 63px; } }

@media screen and (max-width: 1000px) {
  .mobileForm form input[type="submit"] {
    height: 40px;
    border-radius: 0px; } }

@media screen and (max-width: 1000px) {
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: 1px solid #ddd;
    background: #fff url(../slices/down.png) no-repeat 99% center;
    border-radius: 0;
    background-size: 9px; } }
@media screen and (min-width: 1000px) {
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    border: 1px solid #ddd;
    background: #fff url(../slices/down.png) no-repeat 98% center;
    border-radius: 0; } }

main .hold:first-of-type h3 {
  margin-top: 10px; }

main h5 {
  font-family: "Tiempos Headline Light", serif !important; }

@media screen and (min-width: 1000px) {
  h2 {
    font-size: 80px;
    font-family: "Tiempos Headline Light", serif; } }

h3 {
  margin-bottom: 26px; }

.hold ul li {
  line-height: 24px; }

@media screen and (min-width: 1000px) {
  main .hold img {
    margin: 0px 10px 40px 8px; } }

@media screen and (min-width: 1000px) {
  main h2.Black {
    margin-left: 120px; } }

.head {
  background: url(../slices/GettyImages-470805863.png) no-repeat; }

.content main ol {
  margin-top: 15px !important; }

main ol li::before {
  top: 0px; }

@media screen and (max-width: 767px) {
  input, select {
    font-size: 16px; } }

.keypathMobile {
  display: none; }

h2.Black {
  margin-top: 30px; }
  @media screen and (min-width: 1000px) {
    h2.Black {
      font-size: 55px; } }
  @media screen and (max-width: 1000px) {
    h2.Black {
      font-size: 55px;
      margin-top: 30px !important; } }
  @media screen and (max-width: 767px) {
    h2.Black {
      font-size: 45px;
      margin-top: 30px !important; } }

h2.academics {
  margin-top: 50px;
  font-weight: bold; }
  @media screen and (min-width: 1000px) {
    h2.academics {
      font-size: 70px; } }
  @media screen and (max-width: 1000px) {
    h2.academics {
      font-size: 65px;
      margin-top: 50px !important; } }
  @media screen and (max-width: 767px) {
    h2.academics {
      font-size: 45px;
      margin-top: 40px !important; } }

main .hold p {
  margin-bottom: 6px; }

h3 {
  margin-bottom: 12px; }

/*# sourceMappingURL=responsive.css.map */
