@import "bourbon/bourbon"
@import "neat/neat"
@include font-face (Tiempos Headline Black, /TYPEFACES/TiemposHeadline/TiemposHeadline-Black)
@include font-face (Tiempos Headline Light, /TYPEFACES/TiemposHeadline/TiemposHeadline-Light)
@include font-face (Tiempos Text Regular, /TYPEFACES/TiemposText/TiemposText-Regular)
@include font-face (Nexa Black, /TYPEFACES/Nexa/Nexa Black )
@include font-face (Varela Round Regular, /TYPEFACES/Varela/VarelaRound)

$red1: #BA1E04
$red2: #AB3124
$gray1: #aaa
$mobile: new-breakpoint(max-width 900px, 12)
$LargeScreen: new-breakpoint(min-width 2000px, 12)

@mixin box-shadow($top, $left, $blur, $color, $inset: false)
  @if $inset
    -webkit-box-shadow:inset $top $left $blur $color
    -moz-box-shadow:inset $top $left $blur $color
    box-shadow:inset $top $left $blur $color
  @else
    -webkit-box-shadow: $top $left $blur $color
    -moz-box-shadow: $top $left $blur $color
    box-shadow: $top $left $blur $color

html
  margin: 0
  padding: 0
  font-size: 64.25%
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  img
    width: 100%
body
  margin: 0

h1
  font-family: 'Tiempos Headline Black', serif
  font-size: 125px
  font-weight: lighter

h2
  font-family: 'Tiempos Headline Light', serif
  font-size: 100px
  font-weight: normal
  span
    color: #000

h3
  font-family: 'Tiempos Headline Light', serif
  font-size: 50px
  color: $red1

h4
  font-family: 'Tiempos Text Regular', serif
  font-weight: normal

h5
  font-family: 'Nexa-Black', sans-serif
  font-weight: bold

h6
  font-family: 'Nexa-Black', sans-serif
  font-size: 24px

p
  font-size: 15px
  line-height: 25px
  font-family: 'Varela Round Regular', sans-serif

a:hover
  text-decoration: none
b
  font-family: 'Varela Round Regular', sans-serif
  font-weight: bold

li
  font-family: 'Varela Round Regular', sans-serif
  font-weight: normal

  
body
  background: #fff

.left
  float: left

.right
  float: right

.head
  background: url(../slices/GettyImages-470805863.png)
  background-position: center
  background-size: auto 100%
  @include media($LargeScreen)
    background-size: 100%

header
  @include outer-container

  #phone
    @include span-columns(2)
    p
      color: #fff
      width: 250px
      float: right
      text-align: right
      span
        color: $gray1

  #logo
    @include span-columns(2)
    img
      margin: 15px 0 0 15px
      width: 100px

  #SlideInfo
    @include span-columns(8)
    text-align: center
    margin: auto
    img
      width: 50px
    h1
      color: #fff
      margin: 350px 0px -30px

      @include media($mobile)
        margin: 350px 0px 0px
        font-size: 75px
    p
      color: #fff
      font-size: 18px


#middle
  background: url(../slices/GettyImages_550216253_NOTPURCHASED.png) no-repeat, url(../slices/GettyImages_450123547_NOTPURCHASED.jpg) no-repeat
  background-position: top right, bottom center
  background-size: 45%, 125%

.content
  @include outer-container

main
  @include span-columns(7)
  @include media($mobile)
    @include span-columns(12)

  img.headline
    width: 100%
    margin-top: 100px

  p,h5,ol
    margin-left: 130px
    @include media($mobile)
      margin: 0 30px
  span
    p
      margin: -14px 0 20px 0

  h2
    margin: 0
  .hold
    img
      width: 45%
      margin: 40px 20px 40px 0
    h3
      line-height: 40px
      text-transform: uppercase
      margin: 35px 0px 20px
      display: inline-block
      width: 50%
      @include media($mobile)
        font-size: 38px
        margin: 5px 0px 5px
    p
      font-size: 16px
      margin: 0 0 55px 0
      @include media($mobile)
        margin-bottom: 10px
    b
      font-family: 'Varela Round Regular', sans-serif
      font-weight: bold

  .hold:first-of-type img
    margin-top: 0px
  .hold:first-of-type h3
    margin-top: 150px
    @include media($mobile)
      margin-top: 10px

  h5
    margin-top: 30px
    font-family: 'Nexa-Black', sans-serif
    font-weight: bold
    font-size: 20px
    margin-top: 50px
    margin-bottom: 0
    text-transform: uppercase

  ol
    padding: 0
    list-style: none

    li
      counter-increment: section
      margin: 0 0 15px 85px
      font-family: 'Varela Round Regular', sans-serif
      font-size: 15px
      br
        display: block
        margin-bottom: -10px
        font-size: 2px
        line-height: 2px
        margin: 0 0 -12px 0px
        padding: 0

    li::before
      content: counter(section)
      display: inline-block
      height: 45px
      width: 45px
      padding: 8px 10px
      margin-right: 40px
      margin-left: -85px
      font-family: 'Nexa-Bold', sans-serif
      line-height: 30px
      border-radius: 15px
      background-color: #fff
      color: $red1
      background: url(../slices/Oval.png)
      background-size: 100%
      text-align: center
      position: relative
      top: 10px


.aside
  @include span-columns(4)
  @include shift (1)
  @include box-shadow(0, 8px, 8px, rgba(0, 0, 0, 0.2))
  background: #fff

  @include media($mobile)
    display: none

  #Intro
    background: $red1
    padding: 5px 15px
  h4
    color: #fff
    font-size: 36px
    font-weight: bold
    margin: 0
  p
    color: #fff
  form
    margin-top: 10px
    input[type="submit"]
      background: $red1
      color: #fff
      font-family: "Nexa-Bold", sans-serif
    

.mobileForm
  display: none
  @include media($mobile)
    display: block
    width: 95%
    margin: -136px auto 0
    background: #fff

  #Intro
    background: $red1
    padding: 5px 15px
  h4
    color: #fff
    font-size: 36px
    font-weight: bold
    margin: 0
  p
    color: #fff
  form
    margin-top: 10px
    input[type="submit"]
      background: $red1
      color: #fff
      font-family: "Nexa-Bold", sans-serif

.goToFormMobile
  display: none
  @include media($mobile)
    display: block
    background: $red1
    position: fixed
    background: #000
    bottom: 0
    width: 100%
    z-index: 100
    h4
      color: #fff
      font-size: 36px
      font-weight: bold
      margin: 0
    p
      color: #fff

.goToFormMobile
  background: $red1
  padding: 0 10px
  a
    text-decoration: none


.tiles
  background: url(../slices/PhotoGrid.png)
  background-position: center
  background-size: 100%
  height: 1060px
  margin-top: -125px
  @include media($mobile)
    background-position: center
    background-size: 150%
    margin-top: -60px
    height: 600px

  #section
    @include outer-container

    .contain
      @include span-columns(6)
      @include shift (3)
      img
        margin-top: 300px
        @include media($mobile)
          margin-top: -20px
      p
        color: #fff
        text-align: center
        font-size: 16px
      h6
        color: #fff
        text-align: center

.footerSplash
  background: url(../slices/GettyImages-550216253_MODIFIED) no-repeat
  background-position: center
  background-size: 100%
  height: 700px

  @include media($mobile)
    background-position: center
    background-size: 150%
    height: 600px

  footer
    @include outer-container

    .contain
      @include span-columns(6)
      @include shift (3)
      text-align: center

      a.button
        background: $red1
        color: #fff
        padding: 15px 40px
        font-family: 'Nexa-Black', sans-serif
        font-size: 17px
        text-align: center
        text-decoration: none
      img
        margin-top: 80px
        margin-bottom: 45px
